In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
#data
file= "../original data/Stats survey.csv"

df = pd.read_csv(file)

In [3]:
df.head()

,Timestamp,Your Sex?,Your Matric (grade 12) Average/ GPA (in %),What year were you in last year (2023) ?,What faculty does your degree fall under?,Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student),Your Accommodation Status Last Year (2023),Monthly Allowance in 2023,Were you on scholarship/bursary in 2023?,Additional amount of studying (in hrs) per week,How often do you go out partying/socialising during the week?,"On a night out, how many alcoholic drinks do you consume?","How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)",How many modules have you failed thus far into your studies?,Are you currently in a romantic relationship?,Do your parents approve alcohol consumption?,How strong is your relationship with your parent/s?
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 17 columns):
 #   Column                                                                                             Non-Null Count  Dtype
---  ------                                                                                             --------------  -----
 0   Timestamp                                                                                          406 non-null    object
 1   Your Sex?                                                                                          404 non-null    object
 2   Your Matric (grade 12) Average/ GPA (in %)                                                         399 non-null    float64
 3   What year were you in last year (2023) ?                                                           333 non-null    object
 4   What faculty does your degree fall under?                                                          399 non-null    object
 5   Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)                 320 non-null    float64
 6   Your Accommodation Status Last Year (2023)                                                         383 non-null    object
 7   Monthly Allowance in 2023                                                                          375 non-null    object
 8   Were you on scholarship/bursary in 2023?                                                           398 non-null    object
 9   Additional amount of studying (in hrs) per week                                                    403 non-null    object
 10  How often do you go out partying/socialising during the week?                                      404 non-null    object
 11  On a night out, how many alcoholic drinks do you consume?                                          404 non-null    object
 12  How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)  403 non-null    object
 13  How many modules have you failed thus far into your studies?                                       403 non-null    object
 14  Are you currently in a romantic relationship?                                                      403 non-null    object
 15  Do your parents approve alcohol consumption?                                                       402 non-null    object
 16  How strong is your relationship with your parent/s?                                                403 non-null    object
dtypes: float64(2), object(15)
memory usage: 54.0+ KB

In [5]:
print(df.shape)

(406, 17)

In [6]:
#Rename Columns
df = df.rename(columns={"Your Sex?": "Sex", 
                  "Your Matric (grade 12) Average/ GPA (in %)":"HS_GPA",
                   "What year were you in last year (2023) ?":"year_of_study",
                   "What faculty does your degree fall under?":"field",
                   "Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)":"current_GPA",
                   "Your Accommodation Status Last Year (2023)":"off_campus",
                   "Monthly Allowance in 2023":"monthly_allowance",
                   "Were you on scholarship/bursary in 2023?":"scholarship",
                   "Additional amount of studying (in hrs) per week":"study_hours",
                   "How often do you go out partying/socialising during the week? ": "partying_frequency",
                   "On a night out, how many alcoholic drinks do you consume?":"drinks_consumed",
                   "How many classes do you miss per week due to alcohol reasons, (i.e: being hungover or too tired?)":"classes_missed",
                   "How many modules have you failed thus far into your studies?":"modules_failed", 
                   "Are you currently in a romantic relationship?":"relationship", 
                   "Do your parents approve alcohol consumption?":"parents_approval", 
                   "How strong is your relationship with your parent/s?":"parent_relationship"})
df.columns

Index(['Timestamp', 'Sex', 'HS_GPA', 'year_of_study', 'field', 'current_GPA',
       'off_campus', 'monthly_allowance', 'scholarship', 'study_hours',
       'partying_frequency', 'drinks_consumed', 'classes_missed',
       'modules_failed', 'relationship', 'parents_approval',
       'parent_relationship'],
      dtype='object')

In [7]:
#Drop Timestamp Column
df=df.drop(columns="Timestamp")
df.head()

,Sex,HS_GPA,year_of_study,field,current_GPA,off_campus,monthly_allowance,scholarship,study_hours,partying_frequency,drinks_consumed,classes_missed,modules_failed,relationship,parents_approval,parent_relationship
0,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair

In [8]:
df.year_of_study.value_counts()

year_of_study
2nd Year        153
1st Year        128
3rd Year         40
4th Year          7
Postgraduate      5
Name: count, dtype: int64

In [9]:
# grad=df.year_of_study == "Postgraduate"
# grad_df=df.loc[grad]
# grad_df.head()

In [10]:
#exclude Postgraduate student rows from data
mask=df.year_of_study != "Postgraduate"

df1=df.loc[mask]
df1.head()

,Sex,HS_GPA,year_of_study,field,current_GPA,off_campus,monthly_allowance,scholarship,study_hours,partying_frequency,drinks_consumed,classes_missed,modules_failed,relationship,parents_approval,parent_relationship
0,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair

In [15]:
df2=df1.copy()
df2['year_of_study']=df1.year_of_study.replace({"2nd Year":2,
                                             "1st Year":1,
                                             "3rd Year":3,
                                             "4th Year":4})

df2.year_of_study.value_counts()

/var/folders/jf/2172hndd7zv4fznws878lj3h0000gn/T/ipykernel_60541/3226919762.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['year_of_study']=df1.year_of_study.replace({"2nd Year":2,

year_of_study
2.0    153
1.0    128
3.0     40
4.0      7
Name: count, dtype: int64

In [16]:
df2.year_of_study.info()

<class 'pandas.core.series.Series'>
Index: 401 entries, 0 to 405
Series name: year_of_study
Non-Null Count  Dtype
--------------  -----
328 non-null    float64
dtypes: float64(1)
memory usage: 6.3 KB

In [17]:
df1.scholarship.value_counts()

scholarship
No                     348
Yes (NSFAS, etc...)     45
Name: count, dtype: int64

In [18]:
df2['scholarship']=df1.scholarship.replace({"Yes (NSFAS, etc...)": "Yes"})
df2.scholarship.value_counts()

scholarship
No     348
Yes     45
Name: count, dtype: int64

In [19]:
df2['off_campus']=df1.off_campus.replace({'Private accommodation/ stay with family/friends':"Yes",
                                        'Non-private accommodation ie. Res':"No"})
df2.off_campus.value_counts()

off_campus
Yes    330
No      48
Name: count, dtype: int64

In [20]:
df1.field.value_counts()

field
Economic & Management Sciences    210
Science                            56
Arts & Social Sciences             47
Engineering                        35
AgriSciences                       20
Medicine and Health Services       10
Law                                10
Education                           6
Name: count, dtype: int64